
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto d-flex justify-content-center">
        <div class="vuejs-expo">
          <a href="https://vuejsexpo.com/?ref=madewithreact" target="_blank" class="float-buttons ml-auto mr-auto mb-3">
            <img src="{{asset "img/icon-vue.png"}}" alt="vuejs">
          </a>
          <a href="https://vuejsexpo.com/?ref=madewithreact" target="_blank" class="text-float-buttons">
            Vuejs Expo
          </a>
        </div>
        <div class="made-with-react">
          <a href="https://madewithreact.com/?ref=madewithreact" target="_blank" class="float-buttons ml-auto mr-auto mb-3">
            <img src="{{asset "img/logo/angular.png"}}" alt="angularexpo">
          </a>
          <a href="https://madewithreact.com/?ref=madewithreact" target="_blank" class="text-float-buttons">
            Angular Expo
          </a>
        </div>
      </div>
    </div>
    <div class="row pt-5 pl-5 pr-5 responsive-footer">
      <div class="col-md-3">
        <div class="d-flex">
          <img src="{{asset "img/icon-react.png"}}" alt="react" class="footer-img">
          <h5 class="footer-title ml-1">Made with React</h5>
        </div>
        <p class="footer-text pr-3">
          {{@site.description}}
        </p>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">About us</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a href="{{@site.url}}/blog/">Blog</a></li>
          <li class="nav-item"><a href="{{@site.url}}/about/">About Us</a></li>
          <li class="nav-item"><a href="mailto:hello@madewithreact.com">Contact us</a></li>

        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">More Info</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a href="{{@site.url}}/advertise/">Advertise</a></li>
          <li class="nav-item"><a href="https://docs.google.com/forms/d/1nzITKUQ_FD8DEl_WzInpkW4uvvzf58WJpCezQDHLiE8/" target="_blank">Submit product</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">Special Thanks</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a href="https://iradesign.io/?ref=madewithreact">IRA Design</a></li>
          <li class="nav-item"><a href="https://www.creative-tim.com/templates/react?partner=93321">Creative Tim</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Useful Links</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a target="_blank" href="https://reactjs.org/">Official Website</a></li>
          <li class="nav-item"><a target="_blank" href="https://reactjs.org/docs/getting-started.html">Official Documentation</a></li>
          <li class="nav-item"><a target="_blank" href="https://www.creative-tim.com/templates/react/?partner=93321"  onClick="ga('send', 'event', 'Outbound', 'Footer', 'https://www.creative-tim.com/templates/react/?partner=93321')">React Templates</a></li>
          <li class="nav-item"><a target="_blank" href="https://github.com/expojs/made-with-react">Github Made with React</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="social-area ml-auto mr-auto">
      <ul class="footer-social ml-auto mr-auto justify-content-center">
        <li class="nav-item">
          <a href="https://www.facebook.com/madewithreact/" target="_blank" class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/madewithreact" target="_blank" class="nav-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/expojs/made-with-react" target="_blank" class="nav-link"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://madewithreact.com/rss/" target="_blank" class="nav-link"><i class="fa fa-rss"></i></a>
        </li>
      </ul>
      <p class="text-center">Copyright © 2019 Made with React. All Rights Reserved.</p>
    </div>

  </div>
</footer>
