
<nav class="navbar navbar-expand-lg navbar-transparent navbar-light fixed-top" id="nav">
  <div class="container">
    <a class="navbar-brand" href="{{@site.url}}">
      <img alt="Made with React" src="{{asset "/img/logo/react.png"}}" height="30" width="30">
      {{@site.title}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{#foreach navigation}}
        <li class="nav-item {{#if current}} is-active{{/if}}">
          <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
        </li>
        {{/foreach}}
      </ul>
      <ul class="nav-social navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{{@site.url}}/blog/" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/madewithreact/" target="_blank" class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/madewithreact" target="_blank" class="nav-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/expojs/made-with-react" target="_blank" class="nav-link"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a type="text" href="https://docs.google.com/forms/d/1I_FAai7Z5VFpZvOxFS68yZsCDsAngnOknIqzCwbBjE0" class="btn btn-danger btn-round ml-2"><i class="fa fa-plus mr-2"></i>Submit product</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
