<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="{{@site.url}}">
      <img alt="{{@site.title}}" src="{{asset "img/logo.svg"}}"> {{@site.title}}
    </a>
      <ul class="navbar-nav text-uppercase font-weight-bold mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{url absolute="true"}}tag/react">React</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url absolute="true"}}tag/react-native">React Native</a>
        </li>
      </ul>
      <ul class="nav navbar-nav text-uppercase font-weight-bold">
          <li class="nav-item hidden-md-down">
              <a class="nav-link" href="https://www.facebook.com/madewithreact/" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item hidden-md-down">
              <a class="nav-link" href="https://twitter.com/madewithreact" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item hidden-md-down">
              <a class="nav-link" href="https://plus.google.com/111993955982361702587" target="_blank"><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="nav-item hidden-md-down">
              <a class="nav-link" href="{{@site.url}}/rss/" target="_blank"><i class="fa fa-rss"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/bootstrap-themes/react-themes?ref=madewithreact" target="_blank">ReactJS Themes <i class="fa fa-external-link"></i></a>
          </li>
      </ul>
  </div>
</nav>
